@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz.</h1>
    <p>Microsoft Identity Kütüphanesi Üzerine yaptığım Çalışma Sayfası <a href="https://github.com/devrimmehmet/Asp.Net-Core-Identity">Github</a>.</p>
</div>
