@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    var SuccessMessage = TempData["SuccessMessage"]; // TempData'dan veriyi almak
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Kullanıcı Giriş</h2>

        @if (@SuccessMessage != null)
        {
            <div class="alert alert-info" role="alert">
                @SuccessMessage
            </div>

        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

        <form asp-controller="Home" asp-action="SıgnIn" method="post">
            <div class="row mb-3">

                <div class="col-md-8">
                    <label for="Email" class="col-md-2 col-form-label" asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-md-8">
                    <label for="Password" class="col-md-2 col-form-label" asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
            </div>
          
            <div class="mb-3 form-check">
                <input  class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>

            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>
    </div>
</div>




